<p *ngIf="roomList!.length === 0">No rooms available.</p>
<div *ngIf="roomList!.length > 0">
    {{title}}
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Price</th>
            <th>Amenities</th>
            <th>Checkin Date</th>
            <th>Rating</th> <!-- Added header for rating -->
            <th>Select</th>
        </tr>
        <tr [ngClass]=" e ? 'even' : 'odd' " *ngFor="let room of roomList; let e = even; let o = odd; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ e ? "Even" : "Odd"}}</td>
            <td>{{ room.number }}</td>
            <td>{{ room.roomType }}</td>
            <td>{{ room.price | currency: 'EUR' }}</td>
            <td>{{ room.amenities }}</td>
            <td>{{ room.checkInDate | date: 'short' }}</td>
            <td>{{ room.status }}</td>
            <td>{{ room.rating | number:'1.1-2' }}</td>
            <!-- <td><button class="btn btn-primary" (click)="selectRoom(room)">Select</button></td> -->
                         <!-- <td><button class="btn btn-primary" (click)="selectRoom(room)">Select</button></td> -->
            <td><button class="btn btn-primary" [routerLink]="['/rooms', room.id]">Book room</button></td>
        </tr>
    </table>
</div>